@(device: edu.cmu.sei.ttg.kalki.models.Device)
<div class="col">
    @helper.form(action = routes.DeviceController.addOrUpdateDevice(), 'enctype -> "multipart/form-data") {
    <h4>Device</h4>
    <div class="form-group row">
        @* Type *@
        <label for="type" class="col-2 col-form-label">Type<span>*</span></label>
        <div class="col-4">
            <select class="form-control" id="type" name="typeId" required>
                @*Populated by device.js*@
            </select>
        </div>
        @* Group *@
        <label for="group" class="col-2 col-form-label">Group</label>
        <div class="col-4">
            <select class="form-control" id="group" name="groupId">
                @*Populated by device.js*@
            </select>
        </div>
    </div>
    @* Name *@
    <div class="form-group row">
        <label for="name" class="col-2 col-form-label" id="name-label">Name<span>*</span></label>
        <div class="col-10">
            @if(device != null) {
            <input type="text" maxlength="200" class="form-control" id="name" name="name" placeholder="Enter Name" required
                   oninvalid="this.setCustomValidity('Please Enter Name')" onchange="setCustomValidity('')" value="@device.getName()">
            } else {
            <input type="text" maxlength="200" class="form-control" id="name" name="name" placeholder="Enter Name" required
                   oninvalid="this.setCustomValidity('Please Enter Name')" onchange="setCustomValidity('')" value="">
            }

        </div>
    </div>

    <div class="form-group row">
        @* Description *@
        <div class="col">
            <div class="row">
                <label for="description" id="description-label" class="col-2 col-form-label">Description</label>
                <div class="col-10">
                    @if(device != null) {
                        <input type="text" maxlength="200" class="form-control" id="description" name="description" placeholder="Enter Description" value="@device.getDescription()">
                    } else {
                        <input type="text" maxlength="200" class="form-control" id="description" name="description" placeholder="Enter Description">

                    }
                </div>
            </div>
        </div>
    </div>
    @* IP Address *@
    <div class="form-group row">
        <label for="ipAddress" class="col-2 col-form-label">IP Address</label>
        <div class="col-4">
            @if(device != null) {
            <input type="text" maxlength="16" class="form-control" id="ipAddress" name="ip" placeholder="Enter IP" value="@device.getIp()">
            } else {
            <input type="text" maxlength="16" class="form-control" id="ipAddress" name="ip" placeholder="Enter IP">
            }
        </div>
        <label for="statusHistorySize" class="col-2 col-form-label">History Size<span>*</span></label>
        <div class="col-4">
            @if(device != null) {
            <input type="number" min="0" max="2147483647" class="form-control" id="statusHistorySize" name="statusHistorySize" placeholder="Enter Size" required
                   oninvalid="this.setCustomValidity('Please Enter History Size')" onchange="setCustomValidity('')" value="@device.getStatusHistorySize()">
            } else {
            <input type="number" min="0" max="2147483647" class="form-control" id="statusHistorySize" name="statusHistorySize" placeholder="Enter Size" required
                   oninvalid="this.setCustomValidity('Please Enter History Size')" onchange="setCustomValidity('')">
            }
        </div>
    </div>
    @* History Size *@
    <div class="form-group row">

    </div>
    @* Sampling Rate *@
    <div class="form-group row">
        <label for="samplingRate" class="col-2 col-form-label">Sampling Rate (milliseconds)<span>*</span></label>
        <div class="col-4">
            @if(device != null) {
                <input type="number" min="0" max="2147483647" class="form-control" id="samplingRate" name="samplingRate" placeholder="Enter Rate" required
                       oninvalid="this.setCustomValidity('Please Enter Sampling Rate')" onchange="setCustomValidity('')" value="@device.getSamplingRate()">
            } else {
                <input type="number" min="0" max="2147483647" class="form-control" id="samplingRate" name="samplingRate" placeholder="Enter Rate" required
                       oninvalid="this.setCustomValidity('Please Enter Sampling Rate')" onchange="setCustomValidity('')">
            }
        </div>
    </div>
    @* Tags *@
    <div class="form-group row">
        <div class="col-2">
            <label>Tags</label>
        </div>
        <div class="col-8">
            <div id="formTags" class="row">
                @*Populated by device.js*@
            </div>
        </div>
    </div>
    @* Submit *@
    @if(device == null){
    <div class="row justify-content-end">
        <div class="col-2">
            <button type="submit" id="submitFormButton" class="btn btn-primary btn-block">Add</button>
        </div>
        <div class="col-2">
            <button type="button" id="clearFormButton" class="btn btn-secondary btn-block">Clear</button>
        </div>
    </div>
    } else {
    <div class="row justify-content-end">
        <div class="col-2">
            <button type="submit" id="updateFormButton" class="btn btn-primary btn-block">Update</button>
        </div>
        <div class="col-2">
            <button type="button" id="cancelFormButton" class="btn btn-secondary btn-block">Cancel</button>
        </div>
    </div>
    }
    }
</div>
