@()

<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md footer-info">
                <p>Carnegie Mellon University
                    <br>
                    Software Engineering Institute
                    <br>
                    4500 Fifth Avenue
                    <br>
                    Pittsburgh, PA 15213-2612
                    <br>
                    <a href="tel:+14122685800">412-268-5800</a>
                    <br>
                </p>
            </div><!--col-->
        </div>
        <div class="row">
            <div class="col-md footer-info">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.sei.cmu.edu/locations/index.cfm" target=""><small>Office Locations</small>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.sei.cmu.edu/legal/index.cfm" target=""><small>Legal Info</small>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.sei.cmu.edu/index.cfm" target=""><small>www.sei.cmu.edu</small>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md footer-info">
                <p><small class="copyright">©2018 Carnegie Mellon University</small></p>
            </div>
        </div>
    </div>
</footer>