<header>
    <div class="roof">
        <div class="container d-flex flex-wrap justify-content-between">
            <div class="col-12 col-md-6 d-flex justify-content-between">
                <a class="cmu-wordmark" href="http://www.cmu.edu/">Carnegie Mellon University</a>
            </div>
            <div class="col-12 col-md-6 d-flex">
                <a class="sei-wordmark" href="http://www.sei.cmu.edu/"><h2>Software Engineering Institute</h2></a>
            </div>
        </div>
    </div>
</header>
<div class="main-header container d-flex">
    <div class="institute col-12 col-md-6">
        <h1>
            <a href="/">
                <span class="name">Kalki<span class="optional">Dashboard</span></span>
            </a>
        </h1>
    </div>

    <div class="menus col-12 col-md-6">
        <br>
        <nav class="d-md-block d-none" id="navigation" role="navigation">
            <ul class="nav nav-fill">
                <li class="nav-menu-item">
                    <a class="nav-link" href="/">
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-menu-item">
                    <a class="nav-link" href="/add-device">
                        <span>Add Device</span>
                    </a>
                </li>
                <li class="nav-menu-item">
                    <a class="nav-link" href="/umbox-setup">
                        <span>&mu;mbox Setup</span>
                    </a>
                </li>
                <li class="nav-menu-item">
                    <a class="nav-link" href="/funcy-view">
                        <span>FUNCy View</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="clearfix"></div>
