<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/dataTables.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/font-awesome.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/fonts.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/sei.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">