.git
.gradle
.idea
build
out
gradle
.gitignore
*.sh
gradlew
gradlew.*
*.md
*.iml

/target
dashboard/logs
dashboard/project/project
dashboard/project/target
dashboard/target
dashboard/output
dashboard/tmp
dashboard/dist
dashboard/.cache
dashboard/.gradle
