@()
@*Column holds the form and table displayed vertically*@
<div class="col" id="commandLookupContent">
    @helper.form(action = routes.CommandLookupController.addOrUpdateCommandLookup()) {
        <h4>Command Lookup</h4>
        @* CurrentSecurityState *@
        <div class="form-group row">
            <label for="currentSecurityStateSelect" class="col-3 col-form-label">Select Current Security State<span>*</span></label>
            <div class="col-4">
                <select class="form-control" id="currentSecurityStateSelect" name="currentStateId" required></select>
            </div>
        </div>
        @* PreviousSecurityState *@
        <div class="form-group row">
            <label for="previousSecurityStateSelect" class="col-3 col-form-label">Select Previous Security State<span>*</span></label>
            <div class="col-4">
                <select class="form-control" id="previousSecurityStateSelect" name="previousStateId" required></select>
            </div>
        </div>
        @* DeviceType *@
        <div class="form-group row">
            <label for="deviceTypeSelect" class="col-3 col-form-label">Select Device Type<span>*</span></label>
            <div class="col-4">
                <select class="form-control" id="deviceTypeSelect" name="deviceTypeId" requried></select>
            </div>
        </div>
        @* DeviceCommand*@
        <div class="form-group row">
            <label for="deviceCommandSelect" class="col-3 col-form-label">Select Device Command<span>*</span></label>
            <div class="col-4">
                <select class="form-control" id="deviceCommandSelect" name="commandId" requried></select>
            </div>
        </div>
        @* Submit *@
        <div class="row justify-content-end">
            <div class="col-2">
                <button type="submit" id="submitClFormButton" class="btn btn-primary btn-block">Add</button>
            </div>
            <div class="col-2">
                <button type="button" id="clearClFormButton" class="btn btn-secondary btn-block">Clear</button>
            </div>
        </div>
    }

<table id="commandLookupTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>actions</th>
            <th>id</th>
            <th>Current Security State</th>
            <th>Previous Security State</th>
            <th>Device Type</th>
            <th>Device Command</th>
        </tr>
    </thead>
    <tbody id="commandLookupTableBody"></tbody>
</table>

</div>
