@()

@main("Add Device") {
    <h4>Add Device</h4>

    <form class="form" method="post" action="@routes.DeviceController.submit">
        @helper.CSRF.formField
        <div class="row">
            <div class="form-group col">
                <div class="row">
                    <label for="id" class="col-4 col-form-label">ID</label>
                    <div class="col-8">
                        <input type="text" class="form-control" id="id" name="deviceId" placeholder="Enter ID">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-end">
                    <button id="copyFromExisting" type="button" class="btn btn-light btn-block col-5">
                        Copy from Existing Device
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <div class="row">
                    <label for="name" class="col-4 col-form-label">Name</label>
                    <div class="col-8">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
                    </div>
                </div>
            </div>
            <div class="form-group col">
                <div class="row d-flex justify-content-end">
                    <label for="groupId" class="col-2 col-form-label">Group ID</label>
                    <div class="col-6">
                        <select class="form-control" id="groupId" name="groupId">
                            @*Populated by add.js*@
                        </select>
                    </div>
                    <div class="col-2">
                        <button id="newGroupId" type="button" class="btn btn-light btn-block">New</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="type" class="col-2 col-form-label">Type</label>
            <div class="col-8">
                <select class="form-control" id="type" name="type">
                    @*Populated by add.js*@
                </select>
            </div>
            <div class="col-2">
                <button id="newType" type="button" class="btn btn-light btn-block">New</button>
            </div>
        </div>
        <div class="form-group row">
            <label for="ipAddress" class="col-2 col-form-label">IP Address</label>
            <div class="col-8">
                <input type="text" class="form-control" id="ipAddress" name="ipAddress" placeholder="Enter IP">
            </div>
            <div class="col-2">
                <button id="discoverIp" type="button" class="btn btn-light btn-block">Discover</button>
            </div>
        </div>
        <div class="form-group row">
            <label for="historySize" class="col-2 col-form-label">History Size</label>
            <div class="col-8">
                <input type="text" class="form-control" id="historySize" name="historySize" placeholder="Enter Size">
            </div>
        </div>
        <div class="form-group row">
            <label for="samplingRate" class="col-2 col-form-label">Sampling Rate (seconds)</label>
            <div class="col-8">
                <input type="text" class="form-control" id="samplingRate" name="samplingRate" placeholder="Enter Rate">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label>Tags</label>
            </div>
            <div class="col-8">
                <div id="tags" class="row">
                    @*Populated by add.js*@
                </div>
            </div>
            <div class="col-2">
                <button id="newTag" type="button" class="btn btn-light btn-block">New</button>
            </div>
        </div>
        <div class="form-group row">
            <label for="policyFile" class="col-2 col-form-label">Policy File</label>
            <div class="col-8">
                <input type="file" class="form-control-file" id="policyFile">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </div>
    </form>
} {
    <script src="@routes.Assets.versioned("javascripts/add.js")" type="text/javascript"></script>
}
