@()

@main("Add Device") {
    <h4>Add Device</h4>

    <form method="post" action="@routes.DeviceController.submit">
        @helper.CSRF.formField
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" placeholder="Enter ID">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <select class="form-control" id="type">
                <option>Example Type 1</option>
                <option>Example Type 2</option>
                <option>Example Type 3</option>
            </select>
        </div>
        <div class="form-group">
            <label for="ip">IP Address</label>
            <input type="text" class="form-control" id="ip" placeholder="Enter IP">
        </div>
        <div class="form-group">
            <label for="historySize">History Size</label>
            <input type="text" class="form-control" id="historySize" placeholder="Enter Size">
        </div>
        <div class="form-group">
            <label for="samplingRate">Sampling Rate (seconds)</label>
            <input type="text" class="form-control" id="samplingRate" placeholder="Enter Rate">
        </div>
        Tags
        <div class="form-check form-check">
            <input class="form-check-input" type="checkbox" id="tag1" value="option1">
            <label class="form-check-label" for="tag1">Tag 1</label>
        </div>
        <div class="form-check form-check">
            <input class="form-check-input" type="checkbox" id="tag2" value="option2">
            <label class="form-check-label" for="tag2">Tag 2</label>
        </div>
        <div class="form-check form-check">
            <input class="form-check-input" type="checkbox" id="tag3" value="option3">
            <label class="form-check-label" for="tag3">Tag 3</label>
        </div>
        <div class="form-group">
            <label for="policyFile">Policy File</label>
            <input type="file" class="form-control-file" id="policyFile">
        </div>
        <div class="form-group">
            <label for="groupId">Group ID</label>
            <select class="form-control" id="groupId">
                <option>Example ID 1</option>
                <option>Example ID 2</option>
                <option>Example ID 3</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    @*<a href="@routes.DeviceController.clean" class="btn btn-info" role="button">Drop tables</a>*@
    @*<a href="@routes.DeviceController.logUmboxes" class="btn btn-info" role="button">Log umboxes</a>*@
}
