@(id: String)

@helper.form(action = routes.DeviceController.addOrEditDevice(), 'enctype -> "multipart/form-data") {
    @* @helper.CSRF.formField *@

    <input type="hidden" name="id" value="@id" />

    <div class="form-group row">
            @* Type *@
        <div class="col">
            <div class="row">
                <label for="type" class="col-4 col-form-label">Type</label>
                <div class="col-6">
                    <select class="form-control" id="type" name="typeId">
                            @*Populated by add.js*@
                    </select>
                </div>
                    @* New Type Button *@
                <div class="col-2">
                    <button id="newType" type="button" class="btn btn-light btn-block" data-toggle="modal" data-target="#newTypeModal">
                            New
                    </button>
                </div>
            </div>
        </div>

            @* Copy From Existing Device *@
        <div class="form-group col">
            <div class="d-flex justify-content-end">
                <button id="copyFromExisting" type="button" class="btn btn-light btn-block col-5">
                        Copy from Existing Device
                </button>
            </div>
        </div>
    </div>

        @* Name *@
    <div class="form-group row">
        <label for="name" class="col-2 col-form-label">Name</label>
        <div class="col-4">
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
        </div>
    </div>

    <div class="form-group row">
            @* Description *@
        <div class="col">
            <div class="row">
                <label for="description" class="col-4 col-form-label">Description</label>
                <div class="col-8">
                    <input type="text" class="form-control" id="description" name="description" placeholder="Enter Description">
                </div>
            </div>
        </div>

            @* Group *@
        <div class="col">
            <div class="row d-flex justify-content-end">
                <label for="group" class="col-2 col-form-label">Group</label>
                <div class="col-6">
                    <select class="form-control" id="group" name="groupId">
                            @*Populated by add.js*@
                    </select>
                </div>
                    @* New Group Button *@
                <div class="col-2">
                    <button id="newGroupIdButton" type="button" class="btn btn-light btn-block" data-toggle="modal" data-target="#newGroupModal">
                            New
                    </button>
                </div>
            </div>
        </div>
    </div>

        @* IP Address *@
    <div class="form-group row">
        <label for="ipAddress" class="col-2 col-form-label">IP Address</label>
        <div class="col-8">
            <input type="text" class="form-control" id="ipAddress" name="ip" placeholder="Enter IP">
        </div>
            @* Discover IP*@
        <div class="col-2">
            <button id="discoverIp" type="button" class="btn btn-light btn-block">Discover</button>
        </div>
    </div>

        @* History Size *@
    <div class="form-group row">
        <label for="historySize" class="col-2 col-form-label">History Size</label>
        <div class="col-8">
            <input type="number" min="0" max="2147483647" class="form-control" id="historySize" name="historySize" placeholder="Enter Size" required>
            <div class="invalid-feedback">
                    Please enter history size.
            </div>
        </div>
    </div>

        @* Sampling Rate *@
    <div class="form-group row">
        <label for="samplingRate" class="col-2 col-form-label">Sampling Rate (milliseconds)</label>
        <div class="col-8">
            <input type="number" min="0" max="2147483647" class="form-control" id="samplingRate" name="samplingRate" placeholder="Enter Rate" required>
            <div class="invalid-feedback">
                    Please enter sampling rate.
            </div>
        </div>
    </div>

        @* Tags *@
    <div class="form-group row">
        <div class="col-2">
            <label>Tags</label>
        </div>
        <div class="col-8">
            <div id="tags" class="row">
                    @*Populated by add.js*@
            </div>
        </div>
            @* New Tag Button *@
        <div class="col-2">
            <button id="newTag" type="button" class="btn btn-light btn-block" data-toggle="modal" data-target="#newTagModal">
                    New
            </button>
        </div>
    </div>

        @* Policy File *@
    <div class="form-group row">
        <label for="policyFile" class="col-2 col-form-label">Policy File</label>
        <div class="col-8">
            <input type="file" class="form-control-file" name="policyFile" id="policyFile">
        </div>
    </div>

        @* Submit *@
    <div class="row">
        <div class="col-2">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
    </div>
}

    @* New Type Modal *@
<div class="modal fade" id="newTypeModal" tabindex="-1" role="dialog" aria-labelledby="newTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="newTypeModalForm" class="form">
                @* @helper.CSRF.formField *@
                <div class="modal-header">
                    <h4 class="modal-title" id="newTypeModalLabel">New Type</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" placeholder="Enter Type" name="type" id="newTypeInput">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="saveNewType">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* New Group Modal *@
<div class="modal fade" id="newGroupModal" tabindex="-1" role="dialog" aria-labelledby="newGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="newGroupModalForm" class="form">
                @* @helper.CSRF.formField *@
                <div class="modal-header">
                    <h4 class="modal-title" id="newGroupModalLabel">New Group</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" placeholder="Enter Group" name="group" id="newGroupInput">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="saveNewGroup">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

    @* New Tag Modal *@
<div class="modal fade" id="newTagModal" tabindex="-1" role="dialog" aria-labelledby="newTagModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="newTagModalForm" class="form">
                @* @helper.CSRF.formField *@
                <div class="modal-header">
                    <h4 class="modal-title" id="newTagModalLabel">New Tag</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" placeholder="Enter Tag" name="tag" id="newTagInput">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="saveNewTag">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>