@()

@main("Dashboard") {
    <table class="table">
        <thead>
            <tr>
                <th>Device</th>
                <th>Security State</th>
                <th>Variables</th>
                <th>Latest Alert</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="dashboardTableBody"></tbody>
    </table>
    <a href="/add-device" class="btn btn-primary" role="button">Add Device</a>
} {
    <script src="@routes.Assets.versioned("javascripts/index.js")" type="text/javascript"></script>
}
