@()

@main("Dashboard") {
    <table class="table">
        <thead>
            <tr>
                <th>Device</th>
                <th>Security State</th>
                <th>Variables</th>
                <th>Latest Alert</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="dashboardTableBody"></tbody>
    </table>
    <a href="@routes.DeviceController.addDevicePage()" class="btn btn-primary" role="button">Add Device</a>
    <button class="btn btn-info" id="setupDatabaseButton">Setup Database</button>
    <button class="btn btn-info" id="resetDatabaseButton">Reset Database</button>
    <button class="btn btn-info" id="listDatabasesButton">List All Databases</button>
} {
    <script src="@routes.Assets.versioned("javascripts/index.js")" type="text/javascript"></script>
}
