@(id: String)

@main("Device Info") {
    <h4 id="name">Device Name: </h4>
    <h4 id="type">Type: </h4>
    <h4 id="securityState">Security State: </h4>
    <h4 id="policyFile">Policy File: </h4>
    <h4 id="alertHistory">Alert History: </h4>
    <table class="table">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>External ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody id="alertHistoryTableBody"></tbody>
    </table>
    <h4 id="variables">Variables: </h4>
    <table class="table">
        <thead>
            <tr>
                <th>Variable Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody id="variablesTableBody"></tbody>
    </table>
    @*<h4 id="securityStateFlowgraph">Security State Flowgraph: </h4>*@
} {
    <script src="@routes.Assets.versioned("javascripts/info.js")" type="text/javascript" data-id="@id"></script>
}
