@(id: String, device: edu.cmu.sei.ttg.kalki.models.Device)

@main("Device Info") {
    @partials.deviceForm(device)

    <div id="deviceInfoPage">
        <div id="deviceInfoTextContainer">
            <div class="row form-group" id="nameRow">
                <div class="col" id="name"></div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary btn-block" id="stateResetButton">State Reset</button>
                </div>
            </div>
            <div class="row form-group" id="descriptionRow">
                <div class="col" id="description"></div>
            </div>
            <div class="row" id="typeStateRow">
                <div class="col-2 infoLabel">Type:</div>
                <div id="type" class="col-3 infoText"></div>
                <div class="col-2 infoLabel">Security State: </div>
                <div id="securityState" class="col-3 infoText"></div>
            </div>
            <div class="row" id="ipGroupRow">
                <div class="col-2 infoLabel">IP Address: </div>
                <div id="ipAddress" class="col-3 infoText"></div>
                <div class="col-2 infoLabel">Group: </div>
                <div id="group" class="col-3 infoText"></div>
            </div>
            <div class="row" id="deviceTagsRow">
                <div class="col-2 infoLabel">Tags: </div>
                <div id="tags" class="col-3 infoText"></div>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li class="nav-item tab"><a class="nav-link active" data-toggle="tab" href="#alertHistoryContent">
                Alert History</a></li>
            <li class="nav-item tab"><a class="nav-link" data-toggle="tab" href="#statusHistoryContent">
                Status History</a></li>
            <li class="nav-item tab"><a class="nav-link" data-toggle="tab" href="#deviceAlertConditionsContent">
                Alert Conditions</a></li>
            <li class="nav-item tab"><a class="nav-link" data-toggle="tab" href="#stateTransitionsContent">
                State Transitions Reference</a></li>
            <li class="nav-item tab"><a class="nav-link" data-toggle="tab" href="#umboxInstancesContent">
                umBox Instances</a></li>
            <li class="nav-item tab"><a class="nav-link" data-toggle="tab" href="#stageLogContent">
                Stage Logs</a></li>
            <li class="nav-item tab"><a class="nav-link" data-toggle="tab" href="#umboxLogContent">
                Umbox Logs</a></li>
        </ul>

        @*The content in info tabs*@
        <div class="tab-content">
            <div id="alertHistoryContent" class="tab-pane fade show active">
            @deviceInfo.alertHistoryContent()
            </div>
            <div id="statusHistoryContent" class="tab-pane fade">
            @deviceInfo.statusHistoryContent()
            </div>
            <div id="deviceAlertConditionsContent" class="tab-pane fade">
            @deviceInfo.deviceAlertConditionsContent()
            </div>
            <div id="stateTransitionsContent" class="tab-pane fade">
            @deviceInfo.stateTransitionsContent()
            </div>
            <div id="umboxInstancesContent" class="tab-pane fade">
            @deviceInfo.umboxInstancesContent()
            </div>
            <div id="stageLogContent" class="tab-pane fade">
                @deviceInfo.stageLogContent()
            </div>
            <div id="umboxLogContent" class="tab-pane fade">
                @deviceInfo.umboxLogContent()
            </div></div>
    </div>
} {
    <script src="@routes.Assets.versioned("javascripts/dbManagement/deviceForm.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/deviceInfo/info.js")" type="text/javascript" data-id="@id"></script>
    <script src="@routes.Assets.versioned("javascripts/deviceInfo/alertAndStatusHistory.js")" type="text/javascript" data-id="@id"></script>
    <script src="@routes.Assets.versioned("javascripts/deviceInfo/deviceAlertConditions.js")" type="text/javascript" data-id="@id"></script>
    <script src="@routes.Assets.versioned("javascripts/deviceInfo/stateTransitions.js")" type="text/javascript" data-id="@id"></script>
    <script src="@routes.Assets.versioned("javascripts/deviceInfo/stageLogs.js")" type="text/javascript" data-id="@id"></script>
    <script src="@routes.Assets.versioned("javascripts/deviceInfo/umboxLogs.js")" type="text/javascript" data-id="@id"></script>
    <script src="@routes.Assets.versioned("javascripts/deviceInfo/umboxInstances.js")" type="text/javascript" data-id="@id"></script>
}
