<div id="stateTransitionsContainer">
    <div class="row form-group" id="currentUmboxesRow">
        <h4 class="col-3">Current umBoxes: </h4>
        <h4 class="col-9" id="currentUmboxes"></h4>
    </div>
    <table class="table" id="stateTransitionTable">
        <thead>
            <tr>
                <th>Security State</th>
                <th>umBox Image</th>
                <th>Command</th>
            </tr>
        </thead>
        <tbody id="deviceCommandsTableBody"></tbody>
    </table>
</div>