@()
@*Column holds the form and table displayed vertically*@
<div class="col" id="alertConditionContent">
    @helper.form(action = routes.AlertConditionController.addOrUpdateAlertCondition()) {
        <h4>Alert Condition</h4>
        @* Device and DeviceType switch *@
        <div class="form-group row justify-content-center" id="alertConditionSwitchContainer">
            <label class="col-1 selected" id="deviceLabel">Device</label>
            <label class="switch">
                <input type="checkbox" id="alertConditionSwitch">
                <span class="slider round"></span>
            </label>
            <label class="col-2" id="typeLabel">Device Type</label>
        </div>
        @* Device and DeviceType select*@
        <div class="form-group row">
            <label for="deviceSelect" class="col-2 col-form-label">Select Device<span>*</span></label>
            <div class="col-4">
                <select class="form-control" id="deviceSelect" name="deviceId" required></select>
            </div>

            <label for="typeSelect" class="col-2 col-form-label" >Select Device Type<span hidden>*</span></label>
            <div class="col-4">
                <select class="form-control" id="typeSelect" name="deviceTypeId" disabled required></select>
            </div>
        </div>
        @* Alert Type *@
        <div class="form-group row">
            <label for="alertType" class="col-2 col-form-label">Alert Type<span>*</span></label>
            <div class="col-4">
                <select class="form-control" id="alertType" name="alertTypeId" required></select>
            </div>
        </div>
        @* variables *@
        <div class="form-group row">
            <label for="variableKey" class="col-1 col-form-label">Key</label>
            <input type="text" class="col-2 form-control" id="variableKey" placeholder="Enter Key">

            <label for="variableValue" class="col-1 col-form-label">Value</label>
            <input type="text" class="col-2 form-control" id="variableValue" placeholder="Enter Value">

            <div class="col-4">
                <button type="button" class="btn btn-sm btn-pill btn-primary" id="addVariableButton">+</button>
            </div>
        </div>
        @* hidden variable input *@
        <div id="variableFormInput"></div>
        @* Variable table *@
        <table id="variableTable" class="table col-6">
            <thead>
                <th></th>
                <th>Key</th>
                <th>Value</th>
            </thead>
            <tbody id="variableTableBody"></tbody>
        </table>
        @* Submit *@
        <div class="row justify-content-end">
            <div class="col-2">
                <button type="submit" id="submitFormButton" class="btn btn-primary btn-block">Add</button>
            </div>
            <div class="col-2">
                <button type="button" id="clearFormButton" class="btn btn-secondary btn-block">Clear</button>
            </div>
        </div>
    }

<table id="alertConditionTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>actions</th>
            <th>device</th>
            <th>alert type</th>
            <th>variables</th>
        </tr>
    </thead>
    <tbody id="alertConditionTableBody"></tbody>
</table>

</div>